#agent{
background-image: url("../../public/images/bwhouse.jpg");
position: absolute;
background-color: red;
width: 200px;
height:410.50px;
left:560px;
top: 100px;



}



.agent-img{

	border-radius:50%;
	position: relative;
    right: 10px;
    top: 50px;
	width:190px;
	height: 300px;
}