#info{
background-image: url("../../public/images/bwhouse.jpg");	
position: absolute;
left:100px;
top: 185px;
background-color: #FF5533;
width: 40%;
height: 50%;
font-weight: 1000;
font-size:20.5px;
color: #ffffff;
}

.contacts{
	position: relative;
	font-weight: bold;
	left: 10px;
	padding-left: 75px;
}

.name-job{
position: relative;
left: 15px;

}

.websites{

	font-weight: bold;
	font-size: 16px;
	margin-top: 25px;
	padding-left: 75px;
}

.websites>#link2{
	position: relative;
	left: 25px;


}


h2,h3{

	padding-left: 80px;
}

